<div class="admin admin-home">
  <h2>#Admin</h2>
  <% if admin_authorization? %>
    <ul class="centered">
      <li>
        <%= link_to(admin_cards_path) do %>
          <%= image_tag('forward_arrow.png') %> Cards
        <% end %>
      </li>
      <li>
        <%= link_to(admin_words_path) do %>
          <%= image_tag('forward_arrow.png') %> Words
        <% end %>
      </li>
      <li>
        <%= link_to(admin_root_path, id: 'logout-link') do %>
          <%= image_tag('logout.png') %> Logout
        <% end %>
      </li>
    </ul>
  <% else %>
    <form id="login-form" action="#" autocomplete="off" class="centered">
      <label for="password">Password</label>
      <input type="text" name="password" spellcheck="false">
      <button>Submit</button>
    </form>
  <% end %>
</div>
